.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.grid {
  display: grid;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  gap: 20px;
  border: 1px solid black;
}

.cell {
  background-color: transparent;
  border: 1px solid black;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
}

.cell--active {
  background-color: green;
}

/* Accordion Styles */
.accordion-icon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 8px;
  pointer-events: none;
  transform: translateY(-2px) rotate(45deg);
  width: 8px;
}

.accordion-icon--rotated {
  transform: translateY(2px) rotate(-135deg);
}

/* General Accordion Styles */
.accordion {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Accordion Item Styles */
.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/* Accordion Title Button */
.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  text-align: left;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #e0e0e0;
}

.accordion-title[aria-expanded="true"] {
  background-color: #d0d0d0;
}

.accordion-content {
  padding: 15px;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.accordion p {
  font-size: 16px;
  color: #666;
  text-align: center;
}

/* Tabs Styles */
.tabs-wrapper {
  align-items: center;
  display: flex;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tabs-list {
  display: flex;
  gap: 6px;
}

.tabs-list-item {
  --active-color: blueviolet;

  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 10px;
}

.tabs-list-item:hover {
  border-color: var(--active-color);
  color: var(--active-color);
}

.tabs-list-item--active,
.tabs-list-item--active:hover {
  border-color: var(--active-color);
  background-color: var(--active-color);
  color: #fff;
}

/* Progress Bar Styles */
.progress {
  background-color: rgb(233, 236, 239);
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  height: 20px;
  overflow: hidden;
}

.progress span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

.progress div {
  background-color: #0d6efd;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.progress-state {
  position: absolute;
  width: 100%;
  font-size: 12px;
  margin-top: 0.5rem;
  text-align: center;
}

/** Job board styes */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 24px;
}

.job-items {
  display: grid;
  row-gap: 16px;
}

.job-post {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  row-gap: 8px;
}

.job-post__title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}

.job-post__metadata {
  font-size: 14px;
  color: #444;
}

.load-more-button {
  background-color: #ff6600;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 8px 12px;
  cursor: pointer;
}

.load-more-button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.load-more-button:hover {
  background-color: #e65c00;
}
